<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Presupuesto</title>
    <link rel="stylesheet" href="C:\Users\Usuario\Desktop\presupuesto\static\css\styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="C:\Users\Usuario\Desktop\presupuesto\templates\index.html">Inicio</a></li>
            <li><a href="C:\Users\Usuario\Desktop\presupuesto\templates\proveedores.html">Proveedores</a></li>
        </ul>
    </nav>
    <h1>Agregar Presupuesto</h1>
    <form action="C:\Users\Usuario\Desktop\presupuesto\templates\agregar_presupuesto.html" method="POST">
        <label for="proveedor_nombre">Nombre del Proveedor:</label><br>
        <input type="text" name="proveedor_nombre" required><br>

        <label for="producto_nombre">Nombre del Producto:</label><br>
        <input type="text" name="producto_nombre" required><br>

        <label for="precio">Precio:</label><br>
        <input type="number" name="precio" required><br>

        <label for="fecha">Fecha:</label><br>
        <input type="date" name="fecha" required><br>

        <label for="centro_costo_id">Centro de Costos:</label><br>
        <select name="centro_costo_id" required>
            <option value="sector_obra">Sector Obra</option>
            <option value="sector_contable">Sector Contable</option>
            <option value="sector_oficina_tecnica">Sector Oficina Técnica</option>
        </select><br>
        <br>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>
