<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='images/Logo Iarsa.png') }}" alt="Logo de la Empresa" class="logo">
        <div class="header-content">
            <h1>Presupuestos</h1>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
        </ul>
    </nav>
    <form action="{{ url_for('agregar_presupuesto') }}" method="POST" enctype="multipart/form-data">
        <label for="proveedor_nombre">Nombre del Proveedor:</label><br>
        <input type="text" id="proveedor_nombre" name="proveedor_nombre" required><br>

        <label for="producto_nombre">Nombre del Producto:</label><br>
        <input type="text" id="producto_nombre" name="producto_nombre" required><br>

        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" required><br>

        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" name="fecha" required><br>

        <label for="centro_costo_id">Centro de Costos:</label><br>
        <select id="centro_costo_id" name="centro_costo_id" required>
            <option value="sector_obra">Sector Obra</option>
            <option value="sector_administracion">Sector Administracion</option>
            <option value="sector_oficina_tecnica">Sector Oficina Técnica</option>
            <option value="sector_laboratorio">Sector Laboratorio</option>
            <option value="sector_mantenimiento">Sector Mantenimiento</option>
            <option value="sector_seguridad_medioambiente">Sector Seguridad y Medio Ambiente</option>
            <option value="planta_ramallo">Planta Ramallo</option>
            <option value="planta_baradero">Planta Baradero</option>
            <option value="planta_hormigon">Planta Hormigon</option>
        </select><br>
        <br>
        <label for="pdf">Adjuntar PDF:</label><br>
        <input type="file" id="pdf" name="pdf" accept="application/pdf"><br>

        <button type="submit">Agregar Presupuesto</button>
    </form>
</body>
</html>