<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='images/Logo_Iarsa_1.png') }}" alt="Logo de la Empresa" class="logo">
        <div class="header-content">
            <h1>Proveedores</h1>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('agregar_presupuesto') }}">Presupuestos</a></li>
            <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
        </ul>
    </nav>
    <form action="{{ url_for('agregar_proveedor') }}" method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" required><br>
        
        <label for="razonsocial">Razón Social:</label><br>
        <input type="text" name="razonsocial" required><br>
        
        <label for="contacto">Contacto:</label><br>
        <input type="text" name="contacto" required><br>
        
        <label for="cuit">CUIT:</label><br>
        <input type="text" name="cuit" required><br>
        
        <label for="rubro">Rubro:</label><br>
        <input type="text" name="rubro" required><br>
        
        <label for="ubicacion">Ubicación:</label><br>
        <input type="text" name="ubicacion" required><br>
        
        <button type="submit">Agregar Proveedor</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CUIT</th>
                <th>Rubro</th>
                <th>Razón Social</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.cuit }}</td>
                    <td>{{ proveedor.rubro }}</td>
                    <td>{{ proveedor.razonsocial }}</td>
                    <td>{{ proveedor.ubicacion }}</td>
                    <td>
                        <form action="{{ url_for('eliminar_proveedor', id=proveedor.id) }}" method="POST" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>