<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="C:\Users\Usuario\Desktop\presupuesto\static\css\styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="C:\Users\Usuario\Desktop\presupuesto\templates\index.html">Inicio</a></li>
            <li><a href="C:\Users\Usuario\Desktop\presupuesto\templates\proveedores.html">Proveedores</a></li>
        </ul>
    </nav>
    <h1>Lista de Proveedores</h1>
    <table>
        <thead>
            <tr>
                <th>Ubicación</th>
                <th>Rubro</th>
                <th>CUIT</th>
                <th>Razón Social</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.ubicacion }}</td>
                    <td>{{ proveedor.rubro }}</td>
                    <td>{{ proveedor.cuit }}</td>
                    <td>{{ proveedor.razon_social }}</td>
                    <td>{{ proveedor.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>